* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: PingFang-SC-Medium; }

html,
body {
  min-height: 100%;
  height: 100%;
  overflow: hidden;
  color: #000;
  background: #F4F4F4;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch; }

html * {
  outline: 0;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

* {
  margin: 0;
  padding: 0; }

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0; }

input,
select,
textarea {
  font-size: 100%; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset,
img {
  border: 0; }

abbr,
acronym {
  border: 0;
  -webkit-font-feature-settings: normal;
          font-feature-settings: normal;
  font-variant: normal; }

del {
  text-decoration: line-through; }

address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: 500; }

ol,
ul,
li {
  list-style: none; }

caption,
th {
  text-align: left; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal; }

q:before,
q:after {
  content: ''; }

sub,
sup {
  font-size: 75%;
  ine-eight: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

a:hover {
  text-decoration: none; }

ins,
a {
  text-decoration: none; }

button,
input {
  border: none;
  outline: none;
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button; }

i {
  font-style: normal; }

button,
input[type="button"] {
  background-color: transparent; }

.img-box {
  width: 100%;
  padding: 0;
  display: block;
  overflow: hidden;
  position: relative; }
  .img-box img {
    display: block;
    width: 100%; }
  .img-box .img-mask {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0; }

.slider-container {
  position: relative;
  overflow: hidden; }
  .slider-container .slider-wrapper {
    position: absolute;
    left: 0;
    top: 0; }
    .slider-container .slider-wrapper .slider-item.slider-item-left {
      float: left; }

.des-text {
  font-size: 16px;
  color: #020202;
  line-height: 30px;
  word-wrap: break-word; }

.top-margin {
  width: 100%;
  height: 38px; }

.pagehead {
  width: 90%;
  height: 38px;
  position: absolute;
  left: 5%;
  top: -100%;
  margin-top: 22px;
  z-index: 10;
  position: relative; }
  .pagehead::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 300%;
    height: 300%;
    border: 0 rgba(255, 255, 255, 0.5) solid;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: scale(0.33333);
        -ms-transform: scale(0.33333);
            transform: scale(0.33333);
    pointer-events: none;
    z-index: 0;
    border-bottom-width: 1px; }
  .pagehead .logo {
    width: 110px;
    height: 24px;
    float: left; }
    .pagehead .logo img {
      width: 100%;
      height: 100%;
      display: block; }

.menu-area {
  width: 50px;
  height: 100%;
  float: right; }

.menu-trigger {
  width: 18px;
  height: 14px;
  cursor: pointer;
  float: right; }
  .menu-trigger > div {
    position: relative;
    width: 18px;
    height: 2px;
    margin-bottom: 3px;
    background: #fff;
    top: 0;
    left: 0;
    -webkit-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    z-index: 6; }
    .menu-trigger > div.mid {
      -webkit-transition: all 0.2s 0.2s;
      transition: all 0.2s 0.2s; }
    .menu-trigger > div.top, .menu-trigger > div.bottom {
      -webkit-transition: top 0.2s 0.2s, -webkit-transform 0.2s;
      transition: top 0.2s 0.2s, -webkit-transform 0.2s;
      transition: transform 0.2s, top 0.2s 0.2s;
      transition: transform 0.2s, top 0.2s 0.2s, -webkit-transform 0.2s; }

.menu-open .menu-trigger > div.mid {
  opacity: 0;
  visibility: hidden; }

.menu-open .menu-trigger > div.top, .menu-open .menu-trigger > div.bottom {
  -webkit-transition: top 0.2s, -webkit-transform 0.2s 0.2s;
  transition: top 0.2s, -webkit-transform 0.2s 0.2s;
  transition: top 0.2s, transform 0.2s 0.2s;
  transition: top 0.2s, transform 0.2s 0.2s, -webkit-transform 0.2s 0.2s; }

.menu-open .menu-trigger > div.top {
  top: 6px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

.menu-open .menu-trigger > div.bottom {
  top: -4px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }

#mask {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.9);
  left: 0;
  top: -100%;
  padding: 22px 0 0;
  display: none; }
  #mask .maskhead {
    padding: 0 15px; }

#url-list {
  width: 100%;
  overflow: hidden;
  margin-top: 90px; }
  #url-list li {
    width: 100%;
    height: 65px;
    line-height: 65px;
    text-align: center;
    color: #fff; }
    #url-list li.active {
      background-color: rgba(255, 255, 255, 0.2); }

.close-mask.rotat-close {
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
  -webkit-animation: rotatclose 500ms linear;
          animation: rotatclose 500ms linear; }

@-webkit-keyframes rotatclose {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg); }
  100% {
    -webkit-transform: rotateZ(90deg);
            transform: rotateZ(90deg); } }

@keyframes rotatclose {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg); }
  100% {
    -webkit-transform: rotateZ(90deg);
            transform: rotateZ(90deg); } }

#culture {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto; }
  #culture .culture-head {
    width: 100%;
    overflow: hidden;
    background-color: #2F4FF0;
    padding: 22px 15px 0; }

.des-text {
  padding: 0 20px; }
  .des-text.des1 {
    margin: 21px 0 12px; }
  .des-text.des2 {
    margin-bottom: 16px; }

.culture-list .des-text {
  margin-top: 4px; }

